<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		{{!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css"> --}}
        <link href="https://fonts.googleapis.com/css?family=Raleway|family=Bungee+Shade|Concert+One|Dosis:800|Fredoka+One" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Eater!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>