body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('../img/burger_bck.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
/* 
font-family: 'Fredoka One', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Bungee Shade', cursive; */